<%= render 'shared/page_title', title: "Showing all recipes"  %>
<div align="center">
    <%= will_paginate  %>
</div>

<%= render 'recipe', obj:@recipes  %>

<div align="center">
    <%= will_paginate  %>

 <div class="container">
<div class="card hovercard">
   <!--<img src="http://placehold.it/300x200/000000/&text=Header" alt=""/>-->
   <%= image_tag "diner.jpg", size: "276x200" %>
   <div class="avatar">
      <!--<img src="http://placehold.it/80X80/333333/&text=Head" alt="" />-->
      <%= image_tag "brocopie.jpg", size: "276x200" %>
   </div>
   <div class="info">
      <div class="title">
         The Title
      </div>
      <div class="desc">Lorem ipsum</div>
      <div class="desc">Lorem ipsum</div>
      <div class="desc">Lorem ipsum</div>
   </div>
   <div class="bottom">
      <button class="btn btn-default">Button</button>
   </div>
</div>
</div>
